body {
  background-color: #eff4ff;
  color: black;
  font-family: 'Sazanami Gothic';
  font-size: 16px;
}

.text {
  line-height: 0.1;
}

.drawings {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.drawings img {
  width: 200px;
  height: auto;
  display: block;
}

.drawings a {
  display: inline-block;
}

.border {
  border: 5px solid transparent;
  background: transparent;
}
.border:hover {
  border: 5px solid #d4d8ef;
  background: #d4d8ef;
}

@font-face {
  font-family: 'Sazanami Gothic';
  src: url('fonts/sazanamig.ttf') format('ttf');
}