body {
  background-color: #eff4ff;
  color: black;
  font-family: 'Sazanami Gothic';
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.text {
  line-height: 0.3;
}

.icon {
  float: left;
  margin-right: 10px;
}

.audio {
  float: initial;
  margin-bottom: 15px;
}

.outline {
  color: white;
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.drawings {
  display: flex;
  flex-wrap: wrap;
  float: left;
  gap: 5px
}

.drawings img {
  width: 100%;
  max-width: 200px;
  display: block;
}

.drawings a {
  justify-self: start;
  align-self: start;
}

.border {
  border: 8px solid transparent;
  background: transparent;
}
.border:hover {
  border: 8px solid #d4d8ef;
  background: #d4d8ef;
}

@font-face {
  font-family: 'Sazanami Gothic';
  src: url('fonts/sazanamig.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}